

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #151e55;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

.brLine {
    width: 90%;
    height: 2px;
    background-color: black;
    margin: 30px 0;
}

.header {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(21,30,85,0.7);

    img {
        max-width: 30vh;
    }

    p {
        color: #fff;
        font-size: 25px;
    }
}

.main {
    background: fixed;
    background-size: cover;
    background-image: url("https://i.imgur.com/dnteM0y.jpg");
    height: 100%;

    .blankspace {
        height: 40vh;
    }

    @media only screen and (max-width: 900px) {
        background-image: none;
    }
}

.Home {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 5vh 0;
    font-size: 20px;

    p {
        width: 70%;
    }
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 5vh 0;

    .About1, .About2 {
        width: 100%;
        display: flex;
        padding: 5vh 0;
        font-size: 20px;
        justify-content: center;

        p {
            width: 70%;
        }
    }

    .AboutQuote {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        padding: 5vh 0;
        font-size: 20px;
        
        p {
            width: 35%;
            font-weight: bolder;
        }

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            img {
                width: 100%;
            }

            p {
                width: 90%;
                margin-top: 5vh;
            }
        }
    }
}





.Services{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 5vh 0;
    font-size: 20px;

    .servicecards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
    
        Div {
            width: 30%;
            height: 350px;
            border: solid 1px;
            margin: 5vh 1.5%;
            padding: 1vh 1vw;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #4d4d4d;

            li {
                margin-left: 5vw;
            }
        }

        
    }

    @media only screen and (max-width: 600px) {
        background-color: #151e55;
        h1 {
            color: #fff;
        }

        .servicecards{
            flex-direction: column;

            Div {
                width: 90%;
                box-shadow: none;
                margin-top: 1vh;
    
                h2, p {
                    padding-left: 5vw;
                }
    
                li {
                    margin-left: 10vw;
                }
            }
        }
    }
}


.navLeft {
    display: flex;


    .icon {
        max-width: 100px;
    }
}

.slideshowphone{
    display: none;
}


.fadeimg {
    max-height: 800px;
    width: auto;
    padding: 0 10px;
}

.home{
    margin-bottom: 50px;

    .homelogo{
        width: 50%;
        margin: 50px 0;
    }

    .homeText {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
        font-size: 18px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    align-items: center;
    padding: 20px 0;
    line-height: 1.6;

    .aboutHeader {
        margin: 10px 0;
        font-size: 20px;
    }

    .about1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .about1imgbox {
            width: 30%;
            max-height: 500px;
            overflow: hidden;

            .about1img {
                max-width: 100%;
            }
            
        }

        .about1text {
            max-width: 40%;
            font-size: 18px;
            text-align: flex-start;
        }
    }

    .about2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .about2imgbox {
            width: 30%;
            max-height: 600px;
            overflow: hidden;

            .about2img {
                max-width: 100%;
            }
            
        }

        .about2text {
            max-width: 40%;
            min-width: 380px;
            font-size: 20px;

            .about2p{
                text-align: left;

                .quote {
                    font-size: 28px;
                    text-align: left;
                }
            }
        }
    }
}

.gallerypage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    .artistHeader{
        margin: 10px 0;
        font-size: 30px;
    }

    .artists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    
        .artistbox{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            
            .imgbox{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 450px;
        
                img{
                    width: 380px;
                }
        
            }
    
            p{
                margin: 20px 0;
            }
        }
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    
        .imageWrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            
            .eachImage {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 10px 0;
                overflow: hidden;
                height: 380px;
                
                .image {
                    width: 380px;
                }
            }
        }
        
    }
}

.services{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    align-items: center;
    padding: 20px 0;
    line-height: 1.6;
    text-align: left;

    .servicesHeader{
        margin: 10px 0;
        font-size: 20px;
    }

    .servicesHeaderImg{
        width: 40%;
        height: auto;
        margin: 50px;
    }

    .servicesColor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 0;

        .colorImgBox{
            width: 40%;
            overflow: hidden;

            .servicesColorImg{
                width: 95%;
            }
        }

        .colorTextBox{
            max-width: 40%;
            font-size: 18px;
            text-align: flex-start;

            h2{
                color: rgb(85, 85, 85);
            }
        }
    }

    .servicesStyle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin: 50px 0;


        .stylingImgBox{
            width: 40%;
            overflow: hidden;

            .servicesStylingImg{
                width: 100%;
            }
        }

        .stylingTextBox{
            max-width: 40%;
            font-size: 18px;
            text-align: flex-start;

            h2{
                color: rgb(85, 85, 85);
            }
        }
    }

    button{
        border-radius: 5px;
        background: #000;
        padding: 10px 15px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        margin-top: 20px;

        &:hover {
            transition: all 0.2s ease-in-out;
            background: #9f9f9f;
        }
    }

    .servicesFooterImg{
        width: 40%;
        height: auto;
        margin: 50px;
    }
}





@media only screen and (max-width: 900px) {
    .header {
        display: none;
    }

    .fadeimg {
        max-width: 400px;
        padding: 0;
    }

    .homelogo{
        min-width: 70%;
        margin: 30px 0;
    }

    .slideshowweb{
        display: none;
    }

    .slideshowphone{
        display: inline;
    }

    .about {
        .about1 {
            width: 90%;
            .about1text {
                min-width: 70%;
                margin: 30px 0;
            }
            .about1imgbox {
                width: 380px;
            }
        }

        .about2 {
            width: 90%;
            .about2text {
                min-width: 80%;
                margin: 30px 0;

            }
            .about2imgbox {
                width: 380px;
            }

            
        }
    
        .map {
            max-width: 350px;
            max-height: 350px;
        }
    }

    .artistbox{
        min-width: 380px;
    }

    .servicesHeaderImg, .servicesFooterImg{
        min-width: 90%;
        margin: 20px 0;
    }

    .colorImgBox, .stylingImgBox{
        height: 0px;
        width: 0px;
        display: hidden;
    }

    .colorTextBox, .stylingTextBox{
        min-width: 80%;
        margin: 10px 0;
    }
    
}

